# Credit Utilization Ratio vs Default Rate

In [1]:
import pandas as pd
import scipy.stats as stats

In [5]:
filename = '../Data/cerdit_utilization_vs_default_rate.csv'
df = pd.read_csv(filename)

In [6]:
df

  credit_utilization  number_of_loans  default_rate
0          0.6 - 0.8             7227         0.214
1          0.2 - 0.4             7309         0.214
2              < 0.2             5370         0.217
3          0.4 - 0.6             7267         0.220
4               0.8+             5406         0.229

In [ ]:
df['default_rate'] = df['default_rate'].apply(lambda x: x * 100)  # Convert to percentage
f_stat, p_value = stats.f_oneway()

c:\Users\PC\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:580: SmallSampleWarning: all input arrays have length 1.  f_oneway requires that at least one input has length greater than 1.
  if is_too_small(samples, kwds):
C:\Users\PC\AppData\Local\Temp\ipykernel_29480\812868177.py:3: SmallSampleWarning: One or more sample arguments is too small; all returned values will be NaN. See documentation for sample size requirements.
  f_stat, p_value = stats.f_oneway(*groups)